.register {
    font-family: 'Poppins', sans-serif;
    padding: 100px 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.08);
}

form h2 {
    text-align: center;
}

form input {
    width: 90%;
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    border-radius: 4px;
}

form button {
    cursor: pointer;
    color: white;
    background: crimson;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 15px 25px;
    margin: 18px auto 16px auto;
}

form .error {
    color: crimson;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 8px 0 0 0;
}